<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar" (click)="isCollapsed = !isCollapsed">
				<span class="sr-only" translate>Menu</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
      <a class="navbar-brand" href="javascript:void(0)">
        <span (click)="go(['/'])" translate>Demo</span>
        <span class="badge" (click)="showChangeLog()">{{version}}</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" [collapse]="isCollapsed">
      <ul class="nav navbar-nav navbar-right">
        <li *ngFor="let item of childrenRoutes" [class.active]="router.isActive(item.url)">
          <a [routerLink]="[item.name]">{{item.title | translate}}</a>
        </li>
        <li class="dropdown">
          <a (click)="languagesIsCollapsed = !languagesIsCollapsed" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
            aria-expanded="false">{{'Language' | translate}} <span class="caret"></span></a>
          <ul class="dropdown-menu" [collapse]="languagesIsCollapsed">
            <li *ngFor="let lang of languages" [class.active]="currentLanguage==lang.code"><a (click)="currentLanguage=lang.code">{{lang.title | translate}}</a></li>
          </ul>
        </li>
        <li *ngIf="account">
          <a (click)="showLogoutModal()" translate>Logout</a>
        </li>
        <li *ngIf="!account">
          <a (click)="showLoginModal()" translate>Login</a>
        </li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
