# config
*.env

# dependencies
/node_modules

# IDE
.idea/
.vscode/
node_modules/
build/
tmp/
temp/
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist
/database/sqlitedb.db
/database/sqlitedb.db
/www
frontend/index.html
