@import '~ngx-bootstrap/datepicker/bs-datepicker.css';

@import "~font-awesome/scss/variables";
$fa-font-path: "~font-awesome/fonts/";
@import "~font-awesome/scss/font-awesome";
/*@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootswatch-sass/cosmo/variables";
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootswatch-sass/cosmo/bootswatch";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_tables";
*/

body {
    padding-top: 70px;
}
.page-header {
    margin: 0 0 20px;
}
.error-tooltip{
    .tooltip-inner{
        background-color: #ff0039;
    }
    .tooltip-arrow.arrow{
        border-bottom-color: #ff0039;
    }
}
.success-tooltip{
    .tooltip-inner {
        background-color:#3fb618;
    }
    .tooltip-arrow.arrow {
        border-bottom-color: #3fb618;
    }
}
.checkboxes-group{
    &.form-control{
        border: 0px;
        padding-right: 0px;
        padding-left: 0px;
        box-shadow: none;
        background-color: transparent;
    }
    .checkbox{
        display: inline;
    }
}
.width-20{
    width: 20px;
}
.width-50{
    width: 50px;
}
.width-100{
    width: 100px;
}
.width-150{
    width: 150px;
}
.width-170{
    width: 170px;
}
.width-200{
    width: 200px;
}
.entity-grid-header{
    padding-bottom: 5px;
}
.entity-grid-footer{
    margin-top: -10px;
    .pagination{
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.entity-field-buttons{
    button{
        &.btn-xs{
            padding-top: 0px!important;
            padding-bottom: 0px!important;
        }
    }
}